version: '3.7'

services:
  docker-mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: filtro_jwt
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3307:3306"
    volumes:
      - filtro-volume:/var/lib/mysql
      - ./db/filtro.sql:/docker-entrypoint-initdb.d/filtro.sql
  back-end:
    image: zafuog/springboot_filtro:latest
    ports:
      - "8080:8080"
    environment:
      DB_HOST: docker-mysql
    depends_on:
      - docker-mysql
  front-end:
    image: zafuog/angular-filtro:latest
    volumes:
      - ./config/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "4200:80"
    depends_on:
      - back-end

volumes:
  filtro-volume: